p{
    font-family: sans-serif;
    font-weight: 700;
}
#back{
    height: 100dvh;
    width: 100dvw;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 128px 16px;
    padding: 48px;
}
#INPUT{
    color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: row;
}
.str{
    display: flex;
    flex-direction: column;
    
}
.unit{
    color: hsl(0, 1%, 44%);
    font-size: 12px;
}
.inputbox{
    font-size: 24px;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    padding: 12px;
    width: 98px;
    border-color: hsl(0, 0%, 86%);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin-right: 12px;
}
.inputbox:focus{
    border-color: hsl(259, 100%, 65%);
}
::-webkit-input-placeholder {
    color: hsl(0, 1%, 44%);
}    

#middle{
    display: flex;
    flex-direction: row;
}
#line{
    width: 480px;
    color: hsl(0, 0%, 94%);
    margin-top: 32px;
    border-style: solid;
    float: left;
}
#purplebutton{
    border-style: none;
    border-radius: 50px;
    background-color: hsl(259, 100%, 65%);
    padding: 14px;
    justify-content: end;
}
#purplebutton:hover{
    background-color: hsl(0, 0%, 8%);
}

.black{
    font-weight: 900;
    font-size: 64px;
    font-style: oblique;
    margin: 0px;
}
.purple{
    color: hsl(259, 100%, 65%);
}